* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
body {
  background-color: #fff;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.fluid {
  display: inline-block;
  text-align: center;
  width: 100vw;
}
.container {
  display: inline-block;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  width: 80vw;
}
.row {
  display: inline-block;
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);
}
.left {
  display: inline-block;
  padding: 0 15px;
  position: sticky;
  top:20px;
  vertical-align: top;
  width: 35%;
  @media (max-width: 768px), (max-device-width: 768px)  {
    width: 100%;
  }
}

.right {
  display: inline-block;  
  padding: 0 15px;
  width: 65%;
  
  @media (max-width: 768px), (max-device-width: 768px) {
    width: 100%;
  }

}
.header {
  background: red;
  padding: 30px 0;
}



.search-box-wrapper {
  width: 100%; 
  .search-box {
    border-radius: 4px;
    border: none;
    box-shadow: 0 -1px 0 rgba(51,51,51,.2); 
    padding: 3px;
    padding: 6px 12px;
    width: 100%;
    &:focus  {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      outline: 0;
    }
  }
}

.category-list {
  
  &-item-wrapper {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    margin: 20px 0;

    .category-header {
      border-bottom: 1px solid #f3f3f3; 
      padding: 10px;
      p {
        font-size: 15px;
        font-weight: 700;
        margin: 0;
      }
    }
    .category-content {
      display: inline-block;
      width: 100%;
      .category-item {
        border-bottom: 1px solid #f3f3f3;
        font-size: 0;
        margin: 0;
        padding: 8px;
        &:last-child {
          border-bottom: none;
        }
        &__add {
          display: inline-block;
          vertical-align: top;
          width: 65px;
        
          &__button {
            background-color: #48912a;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            margin-left: 2px;
            padding: 0 10px;
            &:focus  {
              outline: 0;
            }
            &:active {
              box-shadow: 0 2px 0 rgba(0,0,0,.15), inset 0 1px 0 hsla(0,0%,100%,.19);
              top:1px;
            }
          }
          &__input {
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid #e5e5e5;
            display: inline-block;
            font-size: 11px;
            height: 17px;    
            text-align: center;
            width: 26px;
          }
        }

        &__info {
          display: inline-block;
          font-size: 0;
          padding: 0 10px;
          width: calc(100% - 135px);
          &__name {
            color: #ff6508;
            font-size: 12px;
            font-weight: 700;
            line-height: 1em;
            margin-bottom: 2px;
          }
          &__detail {
            font-size: 12px;
            margin: 0;
          }
        }
        &__price {
          border: 1px solid transparent;
          color: #ff6508;
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          vertical-align: top;
          width: 70px;
        }
      }
    }
  }
}


.basket-wrapper {
  display: inline-block;
  margin-top: 20px;
  position: sticky;
  top: 20px;
  width: 100%;
  .basket-header{
    background: red;
    padding: 5px;
    text-align: center;
    p {
      color: white;
      font-size: 14px;
      margin: 0;
    }
  }
  .basket-item-list {
    border: 1px solid #f3f3f3;
  }
  .basket-item-wrapper {
    border: 1px solid #f3f3f3;
    font-size: 0;
    margin: 0;
    padding: 5px;
    .basket-item-info {
      display: inline-block;
      font-size: 11px;
      margin: 0;
      vertical-align: middle;
      width: calc(100% - 120px);
      &-title {
        margin: 0;
      }
    }
    .basket-item-count {
      display: inline-block;
      font-size: 11px;
      height: 17px;
      vertical-align: middle;
      width:23px;
      &__input {
        height: 100%;
        text-align: center;
        width:100%;
      }
    }
    .basket-item-total {
      display: inline-block;
      font-size: 11px;
      text-align: right;
      vertical-align: middle;
      width: 97px;
      .basket-item-delete{
        background: none;
        border: none;
        color: #ff6508;
        cursor: pointer;
        height: 20px;
        text-align: center;
        width: 20px;
        &:active, &:focus {
          outline: 0;
        }
      }
    }
  }
  .basket-empty-list , .basket-total-amount{
      font-size: 13px;
      font-weight: bold;
      margin: 0;
      padding: 10px 0;
      text-align: center;
  }
}